.profileLocation {
  content: url('../images/location.png');
}

.profilePhone {
  content: url('../images/phone.png');
}

.businessInfo {
  border-style: solid;
  border-color: black;
  border-radius: 2%;
}

.businessPage {
  position: relative;
  text-align: center;
}
